@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --white:#fff;
    --color:#1D2A4D;
    --color1: #13c5dd;
    --dark-color:#131F40;
}
h1{ padding: 0 0 30px; }
a{ text-decoration: none; }

ul{
    padding:0;
    margin:0;
}
ul li{
    padding:0;
    margin:0;
    list-style: none;
}
#footer{ font-family: 'Poppins', sans-serif; }
#footer{
    color: var(--white);
    background: var(--color);
    font-size: 14px;
    font-weight: 500;
    padding: 80px 0 0;
}
#footer .logo a{ 
    color: var(--white);
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
}
#footer .appointment{
    color:var(--color1);
    font-size: 14px;
    font-weight:600;
}
#footer .appointment .fas{ 
    margin-left:5px; 
    font-size: 18px;
}
#footer h6{ 
    font-size: 20px;
    font-weight: 600;
}
#footer .services li{
    font-size: 16px;
    font-weight: 500;
    padding-left: 22px;
    margin: 0 0 10px;
    position:relative;
    transition: all .6s;
}
#footer .services li:before{
    content: "";
    background: var(--color1);
    width: 15px;
    height: 2px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
#footer .services a{ color:var(--white); }
#footer .services a:hover{ color:var(--color1); }
#footer .flicker-feed img{ 
    width: 100%; 
}
#footer .flicker-feed li{ 
    width: 100px;
    display: inline-block;
    margin: 0 5px 10px 0;
}
#footer .footer-section{
    background: var(--dark-color);
    padding: 20px 0;
}
#footer .footer-section p{ 
    color: var(--white);
    letter-spacing: 0.5px;
}
#footer .footer-section .web{ color:var(--color1); }
#footer .footer-section ul li{ position: relative;}
#footer .footer-section ul li:before{
    content: "";
    background: var(--white);
    width: 2px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: -8px;
}
#footer .footer-section ul li:last-child:before{ background:none; }
#footer .links li a{
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}
#footer .links li a:hover{ color:var(--color1); }
#footer .widget-area{
    background: #263254;
    padding: 30px 30px;
    border-radius: 10px 10px;
    position:relative;
}
#footer .widget-area:before{
    content: "";
    background: var(--color1);
    width: 4px;
    height: calc(100% - 50px);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
#footer .widget-area .phone{
    font-size: 24px;
    line-height: 22px;
    display: block;
    margin: 0 0 10px;
}
#footer .widget-area .phone i{ 
    color: var(--color1); 
    margin: 0 10px 0 0; 
}
#footer .icon{ float: right;}
#footer .icon li{ 
    display: inline-block;
    margin: 0 5px 0 0;
}
#footer .icon li a{ 
    color: var(--white);
    background: var(--color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    display: block;
    position: relative;
}
#footer .icon li a i{ line-height:inherit; }
#footer .icon li a:before,
#footer .icon li a:after{
    content: attr(data-tip);
    color: var(--white); 
    background-color: var(--color1);
    font-size: 14px;
    line-height: 22px;
    padding: 2px 8px;
    white-space: nowrap;
    display: none;
    border-radius: 4px 4px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -28px;
    z-index: 2;
}
#footer .icon li a:after{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform:translateX(-50%) rotate(45deg);
    top: -16px;
    z-index: 1;
}
#footer .icon li a:hover:before,
#footer .icon li a:hover:after{ display:block; }